*.user
*.manifest
*.pdb
*.suo
*.orig
*.log
*.dll.config
*.exe.config
*.rej
*.DotSettings
*.lock
*.ide
*.tmp_proj
*.vs
.hg
bin/
obj/
Debug/
Release/
packages/
vs/
*.ipch
.db
*.testsettings

.idea/
__*/